* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

header {
  font-family: Montserrat, sans-serif;
  position: relative;
}
header .container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
}
header a {
  text-decoration: none;
}
header input {
  outline: none;
}
header button {
  border: none;
}
header ul {
  list-style: none;
}
header .top-header {
  padding: 13px 0;
  background: rgb(69, 79, 91);
}
header .top-header .head-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .top-header .head-top a:nth-child(1),
header .top-header .head-top a:nth-child(2) {
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: SF Pro Display;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 12%;
  text-align: left;
}
header .top-header .head-top a:nth-child(2) {
  justify-content: end;
  text-decoration-line: underline;
}
header .bottom-header {
  position: sticky;
  top: 0;
}
header .bottom-header .navbar {
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
  transition: all 0.5s linear;
}
header .bottom-header .navbar .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 1100px;
  width: 100%;
}
header .bottom-header .navbar .logo .sm-logo {
  display: none;
}
header .bottom-header .navbar .logo a h1 {
  color: var(--Black, #0d0d0d);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Poppins;
  font-size: 23px;
  font-weight: 800;
  line-height: 140%;
  letter-spacing: 0.4px;
}
header .bottom-header .navbar .logo .nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 900px;
}
header .bottom-header .navbar .logo .nav-link ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
header .bottom-header .navbar .logo .nav-link ul li a {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}
header .bottom-header .navbar .logo .nav-link .buttons {
  display: flex;
  gap: 15px;
}
header .bottom-header .navbar .logo .nav-link .buttons a:nth-child(1) {
  color: #0d0d0d;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.44px;
  border-radius: 4px;
  background: var(--black-5, rgba(0, 0, 0, 0.05));
  display: inline-flex;
  padding: 4px 8px;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  align-items: center;
}
header .bottom-header .navbar .logo .nav-link .buttons a:nth-child(2) {
  color: var(--Black, #0d0d0d);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.44px;
  border-radius: 4px;
  display: inline-flex;
  padding: 4px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(69, 79, 91);
  font-family: SF Pro Display;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}
header .bottom-header .navbar .logo #navbar-responsive.open {
  right: 0;
}
header .bottom-header .navbar .logo .menu-btn {
  border: 0;
  background: #fff;
  cursor: pointer;
  display: none;
}
@media (max-width: 1120px) {
  header .bottom-header .navbar .logo .nav-link {
    width: 670px;
  }
}
@media (max-width: 900px) {
  header .bottom-header .navbar .logo .nav-link {
    flex-direction: column;
    gap: 40px;
  }
  header .bottom-header .navbar .logo .nav-link ul {
    flex-direction: column;
  }
  header .bottom-header .navbar .logo .nav-link .buttons {
    flex-direction: column;
  }
  header .bottom-header .navbar .logo #navbar-responsive {
    position: fixed;
    right: -100%;
    height: 400px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: all 0.5s linear;
  }
  header .bottom-header .navbar .logo .sm-logo {
    display: inline;
  }
  header .bottom-header .navbar .logo .lg-logo {
    display: none;
  }
  header .bottom-header .navbar .logo .menu-btn {
    display: flex;
  }
  header .bottom-header .navbar .logo .responsive {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
header .bottom-header #navbar-responsive {
  top: 120px;
}
header .bottom-header .navbar-shrink {
  padding: 6px 0;
}
header .bottom-header .navbar-shrink #navbar-responsive {
  top: 62px;
}
header .fixed {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  background: #fff;
}
header .fixed #navbar-responsive {
  top: 90px;
}

body #pl {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: gray;
  padding-left: 180px;
}
body #po {
  padding-left: 179px;
  padding-top: 30px;
}
body #cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 100px;
  padding-bottom: 40px;
  padding-left: 179px;
}
body .product-card {
  width: 288px;
  font-family: "SF Pro Text", sans-serif;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
body .product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 12px;
}
body .product-card h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 100%;
  height: 52px;
}
body .product-card .price {
  display: flex;
  gap: 40px;
  align-items: center;
  padding-top: 30px;
}
body .product-card .price .current-price {
  font-size: 20px;
  font-weight: 600;
}
body .product-card .price .old-price {
  text-decoration: line-through;
  color: #999;
  font-size: 18px;
  font-weight: 300;
}
body .cards-2 {
  display: flex;
  padding-left: 170px;
  align-items: center;
}
body .cards-2 .container {
  display: flex;
}
body .cards-2 .container .text-section {
  flex: 1;
  padding: 20px;
  background: #fff;
}
body .cards-2 .container .text-section h2 {
  width: 605px;
  height: 42px;
  top: 1904px;
  left: 100px;
  gap: 0px;
  opacity: 0px;
  font-family: SF Pro Text;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  text-align: left;
}
body .cards-2 .container .text-section p {
  padding-top: 30px;
  width: 605px;
  height: 96px;
  top: 1970px;
  left: 100px;
  gap: 0px;
  opacity: 0px;
  font-family: SF Pro Text;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
body .cards-2 .container .text-section .radio-buttons {
  display: flex;
  gap: 30px;
  padding-top: 50px;
}
body .cards-2 .container .text-section .radio-buttons input[type=radio] {
  margin: 10px 5px;
}
body .cards-2 .container .text-section .radio-buttons label {
  width: 206px;
  height: 24px;
  gap: 0px;
  opacity: 0.9px;
  font-family: SF Pro Text;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
body .cards-2 .container .pip p {
  width: 605px;
  height: 128px;
  top: 2178px;
  left: 100px;
  gap: 0px;
  opacity: 0px;
  font-family: SF Pro Text;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
body .cards-2 .container .image-section {
  flex: 1;
}
body .cards-2 .container .image-section img {
  width: 605px;
  height: 564px;
  top: 1823px;
  left: 735px;
  gap: 0px;
  opacity: 0px;
}
body .cards-3 {
  display: flex;
  justify-content: center;
}
body .cards-3 .container {
  width: 100%;
  max-width: 1200px;
}
body .cards-3 .card-3 {
  display: flex;
  flex-direction: row-reverse;
  margin: 20px;
}
body .cards-3 .image-section {
  flex: 1;
}
body .cards-3 .image-section img {
  width: 100%;
  height: auto;
}
body .cards-3 .text-section {
  flex: 1;
  padding: 20px;
  padding-top: 120px;
  padding-left: 30px;
}
body .cards-3 .text-section h2 {
  width: 605px;
  height: 42px;
  top: 2598px;
  left: 735px;
  gap: 0px;
  opacity: 0px;
  font-family: SF Pro Text;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  text-align: left;
}
body .cards-3 .text-section p {
  width: 605px;
  height: 96px;
  top: 2664px;
  left: 735px;
  gap: 0px;
  opacity: 0px;
  font-family: SF Pro Text;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
body .cards-3 .button-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .cards-3 .button-inputs h1 {
  width: 465px;
  height: 62px;
  gap: 0px;
  opacity: 0px;
  font-family: SF Pro Text;
  font-size: 44px;
  font-weight: 600;
  line-height: 62px;
  text-align: left;
}
body .cards-3 .button-inputs p {
  width: 518px;
  height: 52px;
  gap: 0px;
  opacity: 0px;
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
body .footer {
  background-color: #0D2436;
  color: #fff;
}
body .footer .container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
body .footer .container .col {
  flex: 1;
}
body .footer .container .col h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
body .footer .container .col p, body .footer .container .col ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body .footer .container .col a {
  color: #fff;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */